{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{:isset($vo.id)?$vo.id:''}">
        <input type="hidden" name="modelid" value="{:isset($vo.modelid)?$vo.modelid:''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>字段类型：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="formtype" class="select" datatype="*" nullmsg="请选择字段类型">
                        <option value="">请选择字段类型</option>
                        <?php if(is_array($fileType) || $fileType instanceof \think\Collection): if( count($fileType)==0 ) : echo "" ;else: foreach($fileType as $key=>$type): ?>
                        <option value="<?=$key; ?>"><?=$type; ?></option>
                        <?php endforeach; endif; else: echo "" ;endif; ?>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>字段名：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="字母、数字、下划线组成" name="field" value="{$vo.field ?? ''}"  datatype="*2-30" nullmsg="请输入字段名">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">字段说明：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="字段说明" name="name" value="{$vo.name ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">字段提示：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea class="textarea" placeholder="" name="tips" onKeyUp="textarealength(this, 100)">{$vo.tips ?? ''}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">表单样式名：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="表单样式名" name="css" value="{$vo.css ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">字符串长度取值范围最小值：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="字符串长度取值范围最小值" name="minlength" value="{$vo.minlength ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">字符串长度取值范围最大致：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="字符串长度取值范围最大致" name="maxlength" value="{$vo.maxlength ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">数据校验规则：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="pattern" class="select" >
                        <option value="">数据校验规则</option>
                        <?php if(is_array($dataType) || $dataType instanceof \think\Collection): if( count($dataType)==0 ) : echo "" ;else: foreach($dataType as $key=>$type): ?>
                        <option value="<?=$key; ?>"><?=$type; ?></option>
                        <?php endforeach; endif; else: echo "" ;endif; ?>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">错误提示：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="错误提示" name="errortips" value="{$vo.errortips ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">值为空时提示：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="值为空时提示" name="setting[nullmsg]" value="{$setting.nullmsg ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">值唯一：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="isunique" id="isunique1"  value="1">
                    <label for="isunique1">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="isunique" id="isunique0" value="0" checked="checked">
                    <label for="isunique0">否</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">是否可用：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="disabled" id="disabled-0" value="0" checked="checked">
                    <label for="disabled-0">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="disabled" id="disabled-1" value="1">
                    <label for="disabled-1">否</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">是否必填：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="setting[required]" id="required-1" value="1" >
                    <label for="required-1">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="setting[required]" id="required-0" value="0" checked="checked">
                    <label for="required-0">否</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $("[name='isunique'][value='{$vo.isunique ?? ''}']").attr("checked", true);
        $("[name='disabled'][value='{$vo.disabled ?? ''}']").attr("checked", true);
        $("[name='setting[required]'][value='{$setting.required ?? ''}']").attr("checked", true);
        $("[name='formtype']").find("[value='{$vo.formtype ?? ''}']").attr("selected", true);
        $("[name='pattern']").find("[value='{$vo.pattern ?? ''}']").attr("selected", true);

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}